.title {
    color: #F4CE14;
    font-size: 56px;
    margin-bottom: 0;
}

.subHeading {
    color: #fff;
    font-size: 32px;
    margin: 10px 0;
}

.content {
    color: #fff;
    font-size: 20px;
    margin-bottom: 3rem;
}